body {
  margin: 0;
  padding: 0;
}

*{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.icon-topo {
  width: 45px;
}

.topo-sessao {
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:rgb(60, 139, 60);
  margin: 20px;
  border-radius: 2px;
}

a {
  text-decoration: none;
  margin: 12px;
  color: black;
  font-weight: bold;

}

a:hover{
  color: whitesmoke;
}

.sessao-img {
  display: flex;
}

.paragrafo-topo {
  margin-left: 8px;
  color: whitesmoke;
  font-weight: bold;
}

.secao-capa {
  background-image: url('/public/assets/fundo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  
}

.secao-capa-texto {
  display: flex;
  flex-direction: column;
  align-items:center;
  padding-top: 30px;
  
}

.paragrafo-capa {
  font-size: 25px;
  color: rgb(60, 139, 60);
  background-color: rgb(41, 39, 39);
  opacity: 90%;
  padding: 25px;
  border-radius: 20px;
}

.titulo-capa {
  font-size: 40px;
  font-weight: bold;
  text-decoration: underline;
}

.secao-conteudo {
  width: 100%;
  padding: 100px 20px;
}

.img-conteudo {
  width: 400px;
}

.divisao-conteudo {
  padding: 50px 0px;

}

.topo-conteudo {
  text-align: center;
  font-size: 18px;
  margin-bottom: 50px;
}

.produtos-conteudo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  background-color: rgb(173, 182, 174);
  margin-bottom: 20px;
  border-radius: 10px;

}

.buy-icone {
  width: 60px;
}

.shop-conteudo {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
}

.h2-bag {
  background-color: rgb(41, 39, 39);
  color: rgb(60, 139, 60);
  padding: 10px;
  border-radius: 5px;
}

.lista {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  font-size: 19px;
  background-color: rgb(41, 39, 39);
  color: rgb(60, 139, 60);
}

.secao-sobre {
  background-color: whitesmoke;
  text-align: center;
  padding: 100px 20px;
}

.img-sobre {
  width: 400px;
  height: 300px;
}

.card-sobre {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.txt-sobre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  
}

.cards-sobre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  
 
}

.cabecalho-contato {
  text-align: center;
  font-weight: bold;
  padding: 20px;
}

.icone-contato {
  width: 50px;
  margin: 6px;
}

.secao-contato {
  display: flex;
  background-color: rgb(33, 65, 33);
  

}

.card-contato {
  display: flex;
  flex-direction: column;
 
}

.sub-contato {
  color: black;
  font-size: 18px;
}

.box-contato {
  display: flex;
  padding: 50px;
  justify-content: center;
  font-weight: bold;
  color: rgb(164, 196, 174);
  font-size: 12px;
}

.rodape {
  background-color: black;
  color: whitesmoke;
  text-align: center;
}